<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157751653613-rv68v7moott272219emt4613308feb63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157751653613-rv68v7moott272219emt4613308feb63</string>
	<key>API_KEY</key>
	<string>AIzaSyCTmnRThmmqbvAfwaYcTwvBl-PTHIWA2CI</string>
	<key>GCM_SENDER_ID</key>
	<string>157751653613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectofinal</string>
	<key>PROJECT_ID</key>
	<string>proyectofinal-6b721</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectofinal-6b721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157751653613:ios:c1156e503bf85c429488e4</string>
</dict>
</plist>